<section class="orders-show">

  <header class="page-header">

  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="order-details">
    <h3>Order Details</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>

      </thead>

      <tbody>
        <% @order.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.product.name %></td>
            <td><%= image_tag line_item.product.image.url(:tiny) %></td>
            <td><%= line_item.product.description %></td>
            <td><%= line_item.quantity %></td>
            <td><%= humanized_money_with_symbol line_item.total_price %></td>
          </tr>
          <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="4">Total</td>
          <td><%= humanized_money_with_symbol @order.total %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="clientg-details">
  <p>A copy of your reciept will be delivered to: kvirani@gmail.com</p>

  <%= link_to "Continue Shopping", root_path, class: 'button btn-lg btn-primary' %>

</section>
